@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<footer class="footer">       
    <div><a href="http://lifesupportcr.com"  target="_blank">lifesupportcr</a> © 2022 lifesupportcr.</div>
    <div class="ms-auto">Powered by&nbsp;<a href="http://lifesupportcr.com"  target="_blank">lifesupportcr</a></div>
</footer>
